/* Стили таблицы (IKSWEB) */
table.iksweb{text-decoration: none;border-collapse:collapse;width:100%;text-align:center;}
table.iksweb th{font-weight:normal;font-size:14px; color:#ffffff;background-color:#354251;}
table.iksweb td{font-size:13px;color:#354251;}
table.iksweb td,table.iksweb th{white-space:pre-wrap;padding:10px 5px;line-height:13px;vertical-align: middle;border: 1px solid #354251;}
table.iksweb tr:hover{background-color:#f9fafb}
table.iksweb tr:hover td{color:#354251;cursor:default;}
/*мои стили*/
.snake {
    background-color: green;
}
.blue {
    background-color: #3771a1;
}
.yellow {
    background-color: #ffd242;
}
.worm {
    background-color: #b78a84;
}
.cripper {
    background-image: url(https://i.pinimg.com/originals/4c/f5/d0/4cf5d0537a72100a7c4e36a81d943225.jpg);
    background-size: 100%;
}